.card {
  max-height: 445px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__title {
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;
  max-width: 350px;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__like-btn_active {
  background-image: url(../images/liked-icon.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__del-btn {
  background-image: url(../images/delete-default.svg);
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: transparent;
  border: none;
}

.card__del-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
