.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  opacity: 0;
  transform: scale(0.97);
  transition: opacity 0.7s ease, transform 0.7s ease, visibility 0.7s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 32px 50px;
  box-sizing: border-box;
  overflow: visible;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background: url(../images/close-icon.svg) center/contain no-repeat;
  opacity: 0.4;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  background-image: url(../images/close-icon-dark.svg);
  opacity: 1;
  right: -52.5px;
  top: 0px;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input:hover::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 1.1;
}

.modal__submit-btn {
  cursor: pointer;
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
  display: inline-block;
  max-width: 80vw;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  font-size: 20px;
  line-height: 120%;
  margin: 8px 0 0;
  padding: 4px 8px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

@media screen and (max-width: 630px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0px;
  }

  .modal__title {
    font-size: 20px;
    padding: 10px 0 0;
    margin: 0 0 24px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .modal {
    padding: 0; /* no horizontal crushing */
  }

  .modal__container {
    min-width: 288px;
    width: 100%;
    padding: 12px 8px;
    box-sizing: border-box;
  }

  .modal__close-btn_type_preview {
    right: 0px;
  }

  .modal__image,
  .modal__image-container {
    max-width: 288px; /* forces the real minimum */
    width: 100%;
    min-width: 288px;
  }
}
